{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <main>
       {{ form(form) }}
       {{ notification }}
    </main> 
{% endblock %}
{% block footer %}
    <footer class="bottom-0 fixed w-full text-cuisse-paleCerulean bg-cuisse-dark">
        <div>Icons made by 
            <a href="https://www.freepik.com" title="Freepik">Freepik</a>
            from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </div>
    </footer>
{% endblock %}